* {
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial,sans-serif;
}


body {

min-height:100vh;

background:
linear-gradient(135deg,#0f172a,#1e293b);

color:white;

display:flex;
flex-direction:column;

transition:.3s;

}



body.light {

background:#f1f5f9;
color:#111;

}



#loader {

position:fixed;

inset:0;

background:#020617;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

animation:hide 2s forwards 2s;

}



.logo {

font-size:45px;

font-weight:800;

}



.loading-bar {

width:260px;

height:8px;

background:#333;

border-radius:20px;

margin:20px;

overflow:hidden;

}


.loading-bar div {

height:100%;

width:0;

background:#38bdf8;

animation:load 2s forwards;

}


@keyframes load {

to {
width:100%;
}

}


@keyframes hide {

to {

opacity:0;
visibility:hidden;

}

}



#themeToggle {

position:absolute;

right:25px;

top:25px;

font-size:22px;

background:none;

border:0;

cursor:pointer;

}



.container {

width:90%;

max-width:900px;

margin:auto;

text-align:center;

}



h1 {

font-size:55px;

}



.subtitle {

opacity:.7;

margin-bottom:30px;

}



.search-box {

display:flex;

gap:10px;

justify-content:center;

}



.search-box input {

width:70%;

padding:15px;

border-radius:15px;

border:0;

font-size:17px;

}



button {

padding:15px 20px;

border-radius:15px;

border:0;

cursor:pointer;

}



.card,.widget {

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

border-radius:25px;

padding:25px;

margin-top:30px;

}



.links {

display:grid;

grid-template-columns:repeat(auto-fit,minmax(130px,1fr));

gap:15px;

margin-top:20px;

}



.links a {

padding:18px;

background:#ffffff20;

border-radius:18px;

color:white;

text-decoration:none;

transition:.2s;

}



.links a:hover {

transform:scale(1.08);

background:#38bdf8;

}



.info {

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}



footer {

text-align:center;

padding:30px;

}



footer a {

color:inherit;

margin:10px;

}
